a{
    text-decoration:none;
    color:rgb(255, 184, 5);
}

.landingPage{
     height: 92vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
}

.landingPage .homeImg{
    height: 60vh;
    width: 45%;
}


.landingPage .homeImg img{
    position: relative;
    height: 100%;
    width: 100%;
}
.landingPage .homeText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    color: rgb(255, 184, 5);
}  

.landingPage .homeText .mainText{
    font-size: 30px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.landingPage .homeText .subText{
    font-size:17px;
    color: rgb(2, 2, 2);
    font-weight: 400;
}

.landingPage .homeButton{
    margin-top:10px;
    background-color: rgb(255, 184, 5);
    color: white;
    border-radius: 50px;
}

.main .about{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 92vh;
    padding: 20px;
}

.main .about .about_container{
    position: relative;
    width: 100%;
    height: 95%;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main .about .about_container .about_img{
    position: relative;
    height: 70%;
    width: 60%;
    border: 1px solid #ccc
}

.main .about .about_container .about_img img{
    position: relative;
    height: 100%;
    width: 100%;
}